{% extends 'base.html' %}
{% block content %}
<div id="home">
    <div id="caroussel">
        <div class="slider" id="slider">
            <div class="slides">
                <div class="slide-1 slide">
                    <img src="{{ STATIC_URL }}images/caroussel/1.jpg"/>
                </div>
                <div class="slide-2 slide">
                    <img src="{{ STATIC_URL }}images/caroussel/2.jpg"/>
                </div>
                <div class="slide-3 slide">
                    <img src="{{ STATIC_URL }}images/caroussel/3.jpg"/>
                </div>
                <div class="slide-4 slide">
                    <img src="{{ STATIC_URL }}images/caroussel/4.jpg"/>
                </div>
                <div class="slide-5 slide">
                    <img src="{{ STATIC_URL }}images/caroussel/5.jpg"/>
                </div>
            </div>
            <a href="#" class="previous"><img src="{{ STATIC_URL }}images/caroussel/prev.png"/></a>
            <a href="#" class="next"><img src="{{ STATIC_URL }}images/caroussel/next.png"/></a>
            <a href="#" class="break"><img src="{{ STATIC_URL }}images/caroussel/pause.png"/></a>
        </div>
    </div>

    <h1>Chalet à louer Epinette</h1>

    <h2>Proche de la ville de Quebec, étang privé, 4 chambres, 8 personnes</h2>

    <h3>Description</h3>
    <p>A 20 mn du centre de la ville de Quebec, le chalet Epinette se trouve dans un environnement calme
    et boisé sur un terrain de 50 000 pc (environ 5000 m2) que vous partagerez avec les oiseaux, les
    écureuils, les biches...</p>
    <p>Dès la belle saison, vous pourrez profiter de la flore diversifiée que nous laissons pousser
    librement autour du chalet et au bord de l'étang... L' automne vous offrira bien sûr le spectacle de la
    nature flamboyante.</p>
    <p>Le chalet, de 2100 pc (envron 200 m2), comporte au rez-de- chaussée une grande surface ouverte
    avec cuisine entièrement équipée, ( cuisinière, réfrigérateur avec partie congélateur, lave-vaisselle,
    micro-ondes...., salle à manger et salon avec poêle . Au même étage une grande chambre avec lit
    Queen et placard, une salle de bain (baignoire et douche)</p>
    <p>En demi-sous-sol, trois grandes chambres équipées chacune de deux lits simples (twin-beds) et une
    salle de bain avec douche. Un pièce ouverte, avec télévision.</p>
    <p>Un local équipé d'une laveuse, sécheuse et table à repasser avec fer.
    Le chalet s'ouvre sur une grande terrasse avec tables et chaises, barbecue. Elle domine l'étang.
    Le téléphone pour appels locaux, internet et télévision sont à votre disposition.</p>
    <h3>Activités</h3>
    <h4>En toutes saisons</h4>
    <p>Vous pourrez profiter facilement, par sa proximité, de la ville de Québec, riche en activités.
    (festival, carnaval, manifestations culturelles gratuites...</p>
    <h4>En été</h4>
    <p>Vous pourrez exercer vos talents en pêchant la truite ou en nageant dans notre étang, jeu de
    boules....où tout simplement observer les oiseaux</p>
    <p>La région immédiate offre autour du fleuve Saint-Laurent ou de ses immenses forêts de nombreuses
    activités de plein air ou culturelles (golf au Mont saint Anne (20mn), piste de VTT (à 5mn),
    croisière sur le fleuve........)</p>
    <h4>En hiver</h4>
    <p>Raquette dans la forêt, piste de motoneige et VTT à 5mn, pistes de ski de fond, la station de Mont
    Saint Anne et le Relais (à 20 Mn), le massif situé à Petite Rivière-Saint-François où les panoramas
    sont splendides.</p>
</div>
{% endblock content %}
