{% extends 'base.html' %}
{% block content %}
<div id="home">
    <div id="caroussel">
        <div class="slideshow">
            <div class="images">
                <img src="{{ STATIC_URL }}images/caroussel/3.png"/>
                <img src="{{ STATIC_URL }}images/caroussel/4.png"/>
                <img src="{{ STATIC_URL }}images/caroussel/5.png"/>
                <img src="{{ STATIC_URL }}images/caroussel/6.png"/>
                <img src="{{ STATIC_URL }}images/caroussel/7.png"/>
                <img src="{{ STATIC_URL }}images/caroussel/9.png"/>
                <img src="{{ STATIC_URL }}images/caroussel/2.png"/>
            </div>
            <div class="view-more"><a class="float-right" href="/gallery">En savoir plus</a></div>
        </div>
    </div>
    <div id="description">
        <div class="inner">
            <table border="0">
                <tr>
                    <td><i class="icon-warehouse"></i>A louer Chalet Angelionia</td>
                    <td><i class="icon-lodging"></i>4 chambres</td>
                </tr>
                <tr>
                    <td><i class="icon-location"></i>Proche de Québec</td>
                    <td><i class="icon-users"></i>8 personnes</td>
                </tr>
            </table>
        </div>
    </div>

</div>
{% endblock content %}

{% block bottom_js_include %}
    {% include 'home.js' %}
{% endblock bottom_js_include %}
