
body {
    padding: 0;
    margin: 0;
    background-color: #000;
    background-image: url(../images/background/background.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { display: inline-block; }
/* Hide from IE Mac \*/
.clearfix { display: block; }
/* End hide from IE Mac */
.none { display: none; }
/* End Clearfix */
.clear{
    clear: both
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

.float-right {
    float: right;
}

.float {
    float: left;
}

.overlay-white-7 {
    background-color: #FFF;
    filter: alpha(opacity=80);
    -khtml-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}

.center {
    text-align: center;
}

/* DATEPICKER */
div.ui-datepicker {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center !important;
}

/* FORMS */
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


button[type=submit] {
    color: #FFF;
    background: #B98C3A;
}

button:hover {
    background: #A87A26;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"],textarea {
    padding:7px;
    border-radius:3px;

}
input[type="text"], input[type="password"],input[type="email"], input[type="url"], textarea {
    border: 1px solid #ccc;
    box-shadow: 2px 2px rgba(0,0,0,.1);
}
textarea {
    padding: 10px;
    border-radius: 3px;
    color: #999;
    margin: 5px 0;
    resize: vertical;
}

textarea.autoresize {
    height: 1.2em;
}

input:focus {

}

button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
}

.required {
    background: none repeat scroll 0 0 #FFD1DA !important;
    border: 1px solid #AF0022 !important;
    color: #AF0022 !important;
    box-shadow: 2px 2px rgba(175, 0, 34, .5) !important;
}

.asterisk {
    font-size: 12px;
    display: inline;
    padding: 0 2px;
    color: #C11B17;
}

/* END FORMS */

/* TABLES */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    vertical-align: top;
}
table td p {
    margin: 0;
}
tr {
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table {
    width: 800px;
    margin: auto;
}
table th, table td {
    padding: 5px;
    text-align: left;
    background: #f5f5f5;
    font-size: 12px;
    vertical-align: middle;
}
table th {
    color: #FFF;
    background: url(../images/textures/banner-bg.png) repeat scroll 0 0;
}

table tr.even td, table tr:nth-child(even) td {
    background: #fff;
}
table tr td {
    line-height: 18px;
}
table tr:hover td {
    background: #FDFFEA;
}
 /* END TABLES */

/* FONTS */

.font-gentium-book {
    font: 400 16px/24px "gentium book basic";
}

.font-open-sans, .font-open-sans textarea {
    font: 400 16px/24px "open sans";
}

.font-lato {
    font: 200 20px/24px "lato";
}

.font-lato h1, .font-lato h2, .font-lato h3, .font-lato h4 {
    font-weight: 200;
}

.font-old-standard {
    font: 400 20px/24px "old standard tt";
}

.font-open-sans p {
    font-weight: 400;
}

.font-open-sans h1 {
    font-size: 3em;
    line-height: 1em;
}

/* BANNER */

#banner {
    color: #FFF;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    top: 0;
    min-width: 1040px;
    z-index: 13;
}

#banner h1 {
    font-size: 2.4em;
    line-height: 62px;
    margin: 7px 0 0 35px;
}

#banner .inner {
    width: 970px;
    margin: auto;
    background: url(../images/textures/banner-bg.png) repeat scroll 0 0;
    height: 80px;
    padding: 10px 0 10px 10px;
}

#banner .inner.sticky {
    position: fixed;
    top: -80px;
    height: auto;
}

#banner .inner.animate-sticky {
    top: 0;
    -webkit-transition-property: top;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: top;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
}

#description {
    background: #B98C3A;
    color: white;
    overflow: hidden;
}

#description .inner {
    margin: 20px 50px;
    text-align: center;
}

#description .inner i {
    font-size: 40px;
    line-height: 24px;
    margin-right: 10px;
}

#description .inner table td {
    font-size: 26px;
}

#description table td {
    background: none;
    width: 350px;
}

/* NAV */

#nav {
    float: right;
    margin-top: 40px;
    background: #B98C3A;
}

#nav ul, #nav ol {
    margin: 0;
    padding: 0;
}

#nav li {
    cursor: pointer;
    float: left;
    color: #FFF;
    padding: 10px 20px;
    margin-bottom: 0;
}

#nav li:hover {
    background: #A87A26;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

#nav li.active {
    background: #A87A26;
}

/* CENTER */

.wrapper {
    background-image: url(../images/background/dark_bg.png);
    margin: 0 auto;
    width: 980px;
    padding: 0 30px 0 30px;
}

.midd {
    color: #000;
    width: 980px;
    padding: 100px 0 0 0;
    position: relative;
}

.midd .overlay-white-7 {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-top: -120px;
}

/* HOME */

#caroussel {
    margin: auto;
}

#caroussel .slideshow {
    overflow: hidden;
}

#caroussel .slideshow .images {
    height: 500px;
}

#caroussel .slideshow .images img {
    height: 100%;
    width: 100%;
}

#caroussel div.view-more {
    position: absolute;
    width: 100%;
    height: 100px;
    background: url(../images/caroussel/info.png) repeat-x;
    top: 400px;
    z-index: 12;
}

#caroussel div.view-more a:hover {
    background: #A87A26;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

#caroussel div.view-more a {
    font-size: 20px;
    color: #FFF;
    background: #B98C3A;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 20px 45px 0 0;
}

/* END HOME */

/* CONTACT */

#contact li.label {
    padding: 7px 0;
    height: 26px;
}

#contact li.input {
    width: 330px;
}

#contact li input {
    float: right;
    width: 280px;
}

#contact li input.start-date {
    margin-right: 4px;
}

#contact li.separator.border {
    border-top: 2px solid #B98C3A;
    margin: 15px 0;
}

#contact textarea {
    width: 580px;
    height: 165px;
}

#contact li.input.date input {
    cursor: pointer;
    width: 130px;
}

#contact p {
    margin: 0;
}

#contact .form {
    width: 600px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #B98C3A;
    background: #E8DFCF;
}

#contact img.error {
    margin: 9px;
}
/* END CONTACT */

/* FOOTER */

div.footer {
    color: #FFF;
    overflow: hidden;
    position: relative;
    height: 275px;
}

div.footer .inner-left {
    width: 60%;
    height: 375px;
    margin-top: -50px;
    position: absolute;
    left: 0;
    background: url(../images/textures/banner-bg.png) repeat scroll 0 0;
    z-index: 1;
    border-radius: 0 200px 200px 0;
}

div.footer .inner-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: -55px;
    height: 400px;
}

div.footer #map_canvas {
    height: 100%;
    width: 100%;
}

div.footer ul.address {
    position: absolute;
    left: 150px;
    top: 20px;
}

div.footer ul.address li div {
    display: inline;
}

div.footer ul.address li.clear {
    margin-top: 5px;
}

div.footer ul.address img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 0 10px 0 0;
}

div.footer .copyright {
    float: left;
    position: relative;
}

.gmnoprint {
    bottom: 60px !important;
}

div.footer ul.copyright {
    position: absolute;
    font-size: 17px;
    writing-mode: tb-rl;
    -webkit-transform: matrix(0,1,-1,0,-60,-75);
    -moz-transform: matrix(0,1,-1,0,-60,-75);
    -ms-transform: matrix(0,1,-1,0,-60,-75);
    -o-transform: matrix(0,1,-1,0,-60,-75);
    transform: matrix(0,1,-1,0,-60,-75);
    bottom: 40px;
}

div.footer ul:nth-child(2) {
	writing-mode: lr-tb;
}

div.footer ul.copyright li {
    margin-left: 7px;
}

div.footer a:hover {
    color: #B98C3A;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

/* END FOOTER */

/* TARIFS */

td.hs {
    color: #CD2626;
}

td.bs {
    color: #B98C3A;
}

th.tl {
    border-radius: 5px 0 0 0;
}

th.tr {
    border-radius: 0 5px 0 0;
}

td.bl {
    border-radius: 0 0 0 5px;
}

td.br {
    border-radius: 0 0 5px 0;
}

#pricing table thead th {
    font-size: 16px;
}

#pricing table th {
    width: 288px;
}

#pricing table th.first {
    width: 224px;
}

#pricing table td {
    font-size: 16px;
}

#pricing table th.periode {
    width: 170px;
}

#pricing table th.mois {
    width: 140px;
}

#pricing table td.first {
    font-weight: bold;
}

#pricing table tr.last {
    border-bottom: none;
}

#pricing .dates {
    position: relative;
    overflow: hidden;
    margin: 10px auto 30px;
    width: 800px;
}

#pricing .form {
    color: white;
    width: 350px;
    border-radius: 5px;
    padding: 10px 20px;
    border: 3px solid #B98C3A;
    background: url(../images/textures/banner-bg.png) repeat scroll 0 0;
}

#pricing .dates ul {
    padding: 0 0 0 40px;
    list-style: square;
}

#pricing .dates .form.note {
    width: 774px;
    padding: 20px 10px;
}

/* GALLERIA */
.galleria {
    height:400px;
}

/* CONTENT */
#contact, #neighborhood, #gallery, #pricing {
    margin: 0 20px;
}
