<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-fr" lang="fr-fr" dir="ltr">
<head>
	<meta charset="utf-8">
    <title>Chalet Angelonia</title>
    <!-- loading the fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/chalet.ico">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/jquery.ui.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/galleria.classic.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/fontello.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/galleria-1.2.9.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <meta name="viewport" content="initial-scale=0.3, user-scalable=yes" />
    <meta name="robots" content="all">

    <meta name="Description" content="Chalet Angelonia - À 20 mn du centre de la ville de Québec, le chalet se trouve sur un terrain  de 50000 pc (environ 5000 m2) au bord de son  petit étang privé (pêche et natation). Vous partagerez votre séjour avec les oiseaux (jais bleus) écureuils, biches...">
    <meta name="Chalet Angelonia" content="Chalet Angelonia">
    <meta name="keywords" content="Chalet, Québec, Quebec, location, rental, Angelonia">
    <meta property="fb:admins" content="721178891">
    <meta property="og:image" content="http://angelonia.herokuapp.com/static/images/background/facebook.jpg">
    <meta property="og:title" content="Chalet Angelonia, location">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:url" content="http://angelonia.herokuapp.com">
    <meta property="og:site_name" content="Chalet Angelonia, location">
    <meta property="og:description" content="Chalet Angelonia - À 20 mn du centre de la ville de Québec, le chalet se trouve sur un terrain  de 50000 pc (environ 5000 m2) au bord de son  petit étang privé (pêche et natation). Vous partagerez votre séjour avec les oiseaux (jais bleus) écureuils, biches...">
</head>
<body>

    <div id="banner" class="font-lato">
        <div class="inner">
            <h1 class="float">Angelonia</h1>
            <div id="nav">
                <ul>
                    <li class="home" data-href="/">Accueil</li>
                    <li class="gallery" data-href="gallery">Le Chalet</li>
                    <li class="neighborhood" data-href="neighborhood">Les Alentours</li>
                    <li class="pricing" data-href="pricing">Tarifs/Réservation</li>
                    <li class="contact" data-href="contact">Contact</li>
                </ul>
            </div>
        </div>
        <span class="under-banner"></span>
    </div>
    <div id="content">
        <div class="wrapper">
            <div class="inner midd">
                <div class="overlay-white-7">
                </div>
                <div class="content font-open-sans">
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="footer font-lato">
                    <div class="inner-left">
                        <ul class="address">
                            <li><h2>Adresse:</h2></li>
                            <li>Au pays du Père Noel</li>
                            <li>Québec</li>
                            <li>Canada</li>
                            <li><h2>Contact:</h2></li>
                            <li><img src="{{ STATIC_URL }}images/icons/smartphone.png"/><div>+33 6 12 34 56 78</div></li>
                            <li class="clear"><img src="{{ STATIC_URL }}images/icons/mail.png"/><div><a href="mailto:chalet.angelonia@gmail.com">chalet.angelonia@gmail.com</a></div></li>
                        </ul>
                        <ul class="copyright">
                            <li class="float">&copy;</li>
                            <li class="float">2012</li>
                            <li class="float">-</li>
                            <li class="float"><a href="http://www.arthur-rio.fr" target="_blank">Arthur Rio</a></li>
                        </ul>
                    </div>
                    <div class="inner-right">
                        <div id="map_canvas"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    {% block bottom_js_include %}
    {% endblock bottom_js_include %}
</script>
</body>
</html>
