{% extends 'base.html' %}
{% block content %}
<div id="contact">
    <h1>Nous contacter</h1>
    <div class="form">
        <form name="contact" method="POST" action="/contact">
            {% csrf_token %}
            <ul>
                <li class="float label">Prénom<div class="asterisk">*</div></li>
                <li class="float-right input">
                    <img src="{{ STATIC_URL }}images/icons/icon-error.png" name="first_name" class="error float" style="display: none;"/>
                    <input type="text" name="first_name" placeholder="Prénom"/>
                </li>
                <li class="clear separator"></li>
                <li class="float label">Nom<div class="asterisk">*</div></li>
                <li class="float-right input">
                    <img src="{{ STATIC_URL }}images/icons/icon-error.png" name="last_name" class="error float" style="display: none;"/>
                    <input type="text" name="last_name" placeholder="Nom"/>
                </li>
                <li class="clear separator"></li>
                <li class="float label">Courriel<div class="asterisk">*</div></li>
                <li class="float-right input">
                    <img src="{{ STATIC_URL }}images/icons/icon-error.png" name="email" class="error float" style="display: none;"/>
                    <input type="text" name="email" placeholder="Courriel"/>
                </li>
                <li class="clear separator"></li>
                <li class="float label">Téléphone</li>
                <li class="float-right input"><input type="text" name="phone" placeholder="e.g. +33 6 12 34 56 78"/></li>
                <li class="clear separator"></li>
                <li class="float label">Dates désirées<div class="asterisk">*</div></li>
                <li class="float-right input date">
                    <img src="{{ STATIC_URL }}images/icons/icon-error.png" name="date" class="error float" style="display: none;"/>
                    <input type="text" class="datepicker end-date" name="end_date" readonly="readonly" placeholder="Fin"/>
                    <input type="text" class="datepicker start-date" name="start_date" readonly="readonly" placeholder="Début"/>
                </li>
                <li class="clear separator"></li>
                <li class="float label">Nombre de personnes<div class="asterisk">*</div></li>
                <li class="float-right input">
                    <img src="{{ STATIC_URL }}images/icons/icon-error.png" name="people_number" class="error float" style="display: none;"/>
                    <input type="text" name="people_number" placeholder="e.g. 5"/>
                </li>
                <li class="clear separator"></li>
                <li class="float label">Meilleures heures d'appel</li>
                <li class="float-right input"><input type="text" name="calling_hours" placeholder="e.g. Entre midi et deux"/></li>
                <li class="clear separator"></li>
                <li class="clear separator border"></li>
                <li class="clear">Message<div class="asterisk">*</div></li>
                <li class=""><textarea maxlength="1000" name="message" placeholder="Entrez votre message ici..."></textarea></li>
                <li class="clear"><button type="submit">Envoyer</button></li>
            </ul>
        </form>
    </div>
    <div class="paragraph full">À la lecture de votre message nous vous contacterons dans les plus brefs délais.<br/>Nous vous donnerons ensuite de plus amples précisions.</div>
</div>
{% endblock content %}

{% block bottom_js_include %}
    {% include 'contact.js' %}
{% endblock bottom_js_include %}
