{% extends 'base.html' %}
{% block content %}
<div id="neighborhood">
    <h1>Environnement</h1>
    <div class="paragraph full">
        <p>A 20 mn du centre de la ville de Quebec, le chalet Angelonia se trouve dans un environnement calme
        et boisé sur un terrain de 50 000 pc (environ 5000 m2) que vous partagerez avec les oiseaux, les
        écureuils, les biches...</p>
        <p>Dès la belle saison, vous pourrez profiter de la flore diversifiée que nous laissons pousser
        librement autour du chalet et au bord de l'étang... L' automne vous offrira bien sûr le spectacle de la
        nature flamboyante.</p>
    </div>

    <h1>Activités</h1>
    <h2>En toutes saisons</h2>
    <div class="paragraph full">
        <p>Vous pourrez profiter facilement, par sa proximité, de la ville de Québec, riche en activités.
    (festival, carnaval, manifestations culturelles gratuites...)</p>
    </div>
    <h2>En été</h2>
    <div class="paragraph full">
        <p>Vous pourrez exercer vos talents en pêchant la truite ou en nageant dans notre étang, jeu de
    boules....où tout simplement observer les oiseaux</p>
        <p>La région immédiate offre autour du fleuve Saint-Laurent ou de ses immenses forêts de nombreuses
    activités de plein air ou culturelles (golf au Mont saint Anne (20mn), piste de VTT (à 5mn),
    croisière sur le fleuve...)</p>
    </div>
    <h2>En hiver</h2>
    <div class="paragraph full">
        <p>Raquette dans la forêt, piste de motoneige et VTT à 5mn, pistes de ski de fond, la station de Mont
    Saint Anne et le Relais (à 20 Mn), le massif situé à Petite Rivière-Saint-François où les panoramas
    sont splendides.</p>
    </div>

</div>
{% endblock content %}

{% block bottom_js_include %}
    {% include 'home.js' %}
{% endblock bottom_js_include %}
